.result {
    position: relative;
}
  
.jobInfo {
    height: auto;
}
  
.manage_posting_icon {
    float: right;
    position: relative;
}
  
.manage_posting_icon:hover {
    color: rgb(25, 0, 255);
}
  
.manage_posting_icon:active {
    color: crimson;
}
  
#not_approved_icon {
    position: absolute;
    right: 0;
    bottom: 0;
}