.result {
  border-style: solid;
  border-color: black;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.result:hover {
  background-color: lightgray;
}

#flexContainer {
  display: flex;
}

#resultsPane {
  float: left;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 450px;
}

#resultsPaneFooter {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 5px;
  text-align: center;
}

#jobPostingPane {
  float: right;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: auto;
  max-width: 50%;
  margin-left: 0;
}

/* Smartphone and smaller */
@media only screen and (max-width: 37.5em) {
  #flexContainer {
    display: block;
  }

  #resultsPane {
    float: unset;
    height: 100%;
    width: auto;
  }
}