#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#inner_app {
  margin-top: 15px;
}

#role {
  margin-right: 2em;
}